<a href="https://colab.research.google.com/github/sairampogula6/ev/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
print(data)

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [15]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [32]:
import pandas as pd
from numpy import nan as NA 
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
[NA, NA, NA], [NA, 6.5, 3.]])
print(data)

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [28]:
cleaned = data.dropna()
print(cleaned)

     0    1    2
0  1.0  6.5  3.0

In [29]:
print(data.dropna(how='all'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [33]:
print(data.dropna(axis=1,how='all'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [35]:
print(data.fillna(2))

     0    1    2
0  1.0  6.5  3.0
1  1.0  2.0  2.0
2  2.0  2.0  2.0
3  2.0  6.5  3.0

In [36]:
print(data.fillna({0: 2, 1: 0.5, 2: -1}))

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.5 -1.0
2  2.0  0.5 -1.0
3  2.0  6.5  3.0

In [37]:
print(data.fillna(method='ffill'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0

In [38]:
print(data.isnull())

       0      1      2
0  False  False  False
1  False   True   True
2   True   True   True
3   True  False  False

In [39]:
print(data.notnull())

       0      1      2
0   True   True   True
1   True  False  False
2  False  False  False
3  False   True   True

In [40]:
import pandas as pd
data = pd.DataFrame({'k1': ['one'] * 3 +
['two'] * 4, 'k2': [1, 1, 2, 3, 3, 4, 4]})
print(data)

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [41]:
print(data.duplicated())

0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [42]:
print(data.drop_duplicates())

    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

In [44]:
data['v1'] = range(7)
print(data.drop_duplicates(['k2']))

    k1  k2  v1
0  one   1   0
2  one   2   2
3  two   3   3
5  two   4   5

In [46]:
print(data.drop_duplicates(['k1', 'k2'], keep='first'))

    k1  k2  v1
0  one   1   0
2  one   2   2
3  two   3   3
5  two   4   5

In [48]:
data=pd.DataFrame({'food': ['bacon', 'pulled pork',
'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami',
'honey ham','nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3,
5, 6]})
print(data)

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [50]:
meat_to_animal = {'bacon': 'pig','pulled pork': 'pig',
'pastrami': 'cow','corned beef': 'cow',
'honey ham': 'pig','nova lox': 'salmon'}
data['animal'] =data['food'].map(str.lower).map(meat_to_animal)
print(data)

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [51]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [60]:
from numpy import nan as NA
data = pd.Series([1., -999., 2., -999., -1000., 3.])
print(data)

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [62]:
print(data.replace(-999,NA))

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [63]:
data.replace([-999, -1000], NA)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [65]:
data.replace([-999, -1000], [NA,0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [66]:
data.replace({-999: NA, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [88]:
import numpy as np
data = pd.DataFrame(np.arange(9).reshape((3, 3)),
index=['Ohio', 'Colorado', 'New York'],
columns=['one', 'two', 'three' ])
print(data)

          one  two  three
Ohio        0    1      2
Colorado    3    4      5
New York    6    7      8

In [79]:
data.index = data.index.map(str.upper)
print(data)

          one  two  three
OHIO        0    1      2
COLORADO    3    4      5
NEW YORK    6    7      8

In [82]:
print(data.rename(index=str.upper,
columns=str.upper))

          ONE  TWO  THREE
OHIO        0    1      2
COLORADO    3    4      5
NEW YORK    6    7      8

In [83]:
print(data.rename(index={'OHIO': 'INDIANA'},
columns={'three': 'peekaboo'}))

          one  two  peekaboo
INDIANA     0    1         2
COLORADO    3    4         5
NEW YORK    6    7         8

In [87]:
_ = data.rename(index={'OHIO': 'INDIANA'},
inplace=True)
print(data)

          one  two  three
INDIANA     0    1      2
COLORADO    3    4      5
NEW YORK    6    7      8